#About {
  padding-top: 50px;
  padding-bottom: 50px;
  /* padding: 50px; */
  display: flex;
}

.container {
  width: 100%;
  padding-top: 15px;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 75px;
}

.image-container {
  width: 30%;
  position: relative;
  padding-left: 70px;
  min-height: 1px;
  float: left;
  margin-top: 40px;
}

.profile-pic {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  max-width: 100%;
}

.about-text-container {
  float: right;
  width: 65%;
  position: relative;
  padding: 0 70px 0 30px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  color: #222222;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.about-me {
  font-size: 18px;
}
