/* #Home {
  margin: 0 auto;
  text-align: center;
  padding-top: 250px;
  width: 100%;
}

header h1 {
  margin: 0;
  font-size: 80px;
  color: white;
}

header p {
  color: white;
  font-weight: 700;
  font-size: 1.75rem;
  font-style: italic;
} */

