
/* .header-logo {
  font-size: 30px;
  color: white;
  margin-left: 40px;
};

.navigation-ul {
  list-style: none;
}

.navigation-li {
  display: inline-block;
  margin-right: 40px;
}

.navigation-a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.navigation-a:hover {
  color: black;
} */
