#Projects {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.container {
  width: 100%;
  padding-top: 15px;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 75px;
}

.main-title {
  text-align: center;
  margin-bottom: 75px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  color: #222222;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

p {
  color: #777777;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 0px;
}

.project-container {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.project-photo-sitter{
  background-image: url('../image/loving-sitter.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 450px;
  height: 280px;
  margin-left: 70px;
  margin-right: 50px;
  float: left;
  text-align: right;
  display: inline;
  border: 10px solid;
}

.project-photo-records {
  background-image: url('../image/records-database.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 450px;
  height: 280px;
  margin-left: 50px;
  margin-right: 70px;
  float: left;
  text-align: right;
  display: inline;
  border: 10px solid;
}

.project-photo-project10{
  background-image: url('../image/project10.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 450px;
  height: 280px;
  margin-left: 70px;
  margin-right: 50px;
  float: left;
  text-align: right;
  display: inline;
  border: 10px solid;
}

.project-photo-python12 {
  background-image: url('../image/python-project12.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 450px;
  height: 280px;
  margin-left: 50px;
  margin-right: 70px;
  float: left;
  text-align: right;
  display: inline;
  border: 10px solid;
}

.project-photo-birthday{
  background-image: url('../image/birthday-reminder.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 450px;
  height: 280px;
  margin-left: 70px;
  margin-right: 50px;
  float: left;
  text-align: right;
  display: inline;
  border: 10px solid;
}

.projectCopy{
  float: left;
  text-align: left;
  margin-left: 70px;
  display: inline;
  width: 45%;
}

.projectCopy-left {
  float: left;
  text-align: left;
  margin-left: 70px;
  display: inline;
  width: 45%;
}

.project-title {
  padding-top: 0;
  margin-top: 0;
}

.projectButton {
  display: flex;
}

.button {
  background-color: #f09ce8;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid #f09ce8;
  margin-right: 20px;
}

.button:hover {
  background-color: #f09ce8;
  color: white;
}

@media screen and (max-width: 1024px) {
  .project-photo-sitter{
    background-image: url('../image/loving-sitter.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    margin-left: 70px;
    margin-right: 50px;
    border: 10px solid;
  }
  .project-photo-records {
    background-image: url('../image/records-database.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    margin-left: 50px;
    margin-right: 70px;
    border: 10px solid;
  }
  .project-photo-project10{
    background-image: url('../image/project10.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    margin-left: 70px;
    margin-right: 50px;
    border: 10px solid;
  }
  .project-photo-python12 {
    background-image: url('../image/python-project12.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    margin-left: 50px;
    margin-right: 70px;
    border: 10px solid;
  }
  .project-photo-birthday{
    background-image: url('../image/birthday-reminder.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    margin-left: 70px;
    margin-right: 50px;
    border: 10px solid;
  }
}

@media screen and (max-width: 768px) {
  .project-photo-sitter{
    background-image: url('../image/loving-sitter.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 230px;
    height: 150px;
    margin-left: 20px;
    margin-right: 20px;
    border: 10px solid;
  }
  .project-photo-records {
    background-image: url('../image/records-database.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 230px;
    height: 150px;
    margin-left: 70px;
    margin-right: 20px;
    border: 10px solid;
  }
  .project-photo-project10{
    background-image: url('../image/project10.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 230px;
    height: 150px;
    margin-left: 20px;
    margin-right: 20px;
    border: 10px solid;
  }
  .project-photo-python12 {
    background-image: url('../image/python-project12.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 230px;
    height: 150px;
    margin-left: 70px;
    margin-right: 20px;
    border: 10px solid;
  }
  .project-photo-birthday{
    background-image: url('../image/birthday-reminder.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 230px;
    height: 150px;
    margin-left: 20px;
    margin-right: 20px;
    border: 10px solid;
  }
  .projectCopy-left {
    text-align: left;
    margin-left: 20px;
    display: inline;
  }
}