#Skills {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  background-color: #f2f2f2;
}

.container {
  width: 100%;
  padding-top: 15px;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 75px;
}

.main-title {
  text-align: center;
  margin-bottom: 75px;
}

.icons-container {
  display: flex;
  justify-content: space-around;
  font-size: 5rem;
  margin-top: 100px;
  flex-wrap: wrap;
}

.icon-container:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.icon-inner-container, .icon-inner-container-python, .icon-inner-container-node {
  margin-top: 20px;
  margin-left: 5px;
}

.icon-inner-container-react  {
  margin-top: 20px;
  margin-left: 15px;
}

.icon-inner-container-database {
  margin-top: 20px;
  margin-left: 0px;
}